<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clientarte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
           android:name="com.example.clientarte.SplashScreenActivity"          
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
             
   		 <activity

            android:name="com.example.clientarte.PrincipalActivity"
            android:label="@string/title_activity_principal" >
        </activity>
       
        <activity
            android:name="com.example.clientarte.ProgramacionActivity"
            android:label="@string/title_activity_programacion" >
        </activity>
        <activity
            android:name="com.example.clientarte.BusquedaActivity"
            android:label="@string/title_activity_busqueda" >
        </activity>
         <activity
            android:name="com.example.clientarte.PerfilActivity"
            android:label="@string/title_activity_perfil" > 
        </activity>
        <activity
            android:name="com.example.clientarte.MainActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
     
        <activity
            android:name="com.example.clientarte.NovedadesActivity"
            android:label="@string/title_activity_novedades_main" >
        </activity>
        <activity
            android:name="com.example.clientarte.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>      
       
        <activity
            android:name="com.example.clientarte.CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>    
        
        <activity
            android:name="com.example.clientarte.ObraActivity"
            android:label="@string/title_activity_obra" >
        </activity>       
        <activity
            android:name="com.example.clientarte.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>        
        <activity
            android:name="com.example.clientarte.CompraActivity"
            android:label="@string/title_activity_compra" >
        </activity>
        
        <activity
            android:name="com.example.clientarte.PruebaasientosActivity"
            android:label="@string/title_activity_pruebaasientos" >
        </activity>
       
            </application>


</manifest>
