<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clientarte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.clientarte.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.clientarte.PrincipalActivity"
            android:label="@string/title_activity_principal" >
        </activity>
        <activity
            android:name="com.example.clientarte.ProgramacionActivity"
            android:label="@string/title_activity_programacion" >
        </activity>
        <activity
            android:name="com.example.clientarte.BusquedaActivity"
            android:label="@string/title_activity_busqueda" >
        </activity>
        <activity
            android:name="com.example.clientarte.PerfilActivity"
            android:label="@string/title_activity_perfil" >
        </activity>
    </application>

</manifest>
